.image-wrapper{
   width: 800px;
   height: 500px;
   margin: 0 auto;
   padding-top: 150px;
   position: relative; 
}
.images {
    width: 800px;
    height: 500px;
}
.image-wrapper .image-jameswebb span, .image-wrapper .image-hubble span {
    font-family: monospace;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 3px 20px;
    border-radius: 7px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.image-jameswebb span{
    z-index: 2;
}
.image-jameswebb:hover {
    display: none;
}
.image-hubble img {
    position: absolute;
    top: 61.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}