* {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/jameswebb.webp);
}
.top-navbar-wrapper {
    padding: 20px 0;
    display: flex;
    width: 85vw;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    height: 20px;
    font-size: 0.8rem;
    border-bottom: 0.5px solid white;
}
.top-navbar-wrapper  ul {
    list-style: none;
    list-style-position: outside;
    list-style-type: none;
}
.top-navbar-wrapper li , .navbar li{
    display: inline;
    padding: 3px;
}
.icons {
    flex-basis: 50%;
    text-align: right;
}
.contacts {
    flex-basis: 50%;
}
.contacts span {
    padding: 0 12px;
    color: white;
}
.top-navbar-wrapper a{
    color: white;
}
body hr {
    color: white;
    opacity: 0;
}


.navbar{
    display: flex;
    color: white;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    align-items: center;
    box-sizing: content-box;
}
.navbar .logo-div{
    flex-basis: 38%;
}
.navbar .main-div {
    flex-basis: 62%;
}
.navbar .logo-div > * , .navbar .main-div > * {
    padding: 50px;
}
.navbar .logo-div > h3 {
    color: white;
    font-size: 32px;
    margin: 10px 0;
}
.navbar .logo-div > h3 > a {
    color: white;
}
.main-div a {
    color: white;
}
.globe {
    position: relative;
}
.globe::after{
    content: 'EN';
    color: white;
    font-size: 7px;
    position: absolute;
    top: 0px;
}